.calendar {
  border: 1px solid #aaa;
  padding: 10px;
  width: 300px;
  height: 250px;
}

.calendar > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.calendar > .days {
    display: flex;
    flex-wrap: wrap;
}

.calendar .day {
    width: calc(100% / 7);
    text-align: center;
    line-height: 30px;
}

.calendar .day:hover {
    background-color: rgba(209, 209, 209, 0.6);
    cursor: pointer;
}

.calendar .last-month, .next-month {
    color: #d0d0d0;
}

.calendar .last-month:hover, .next-month:hover {
    color: #7c7c7c;
}